{% extends 'base.html' %}

{% block title %}
    LITReview - Profil modify
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h1>{{ request.user }}</h1>
                    <input type="text" placeholder="{{ request.user }}">
                    <p>Prenom :</p>
                    <input type="text" placeholder="{{ request.user.first_name }}">
                    <p>Nom de famille :</p>
                    <input type="text" placeholder="{{ request.user.last_name }}">
                    <p>Email :</p>
                    <input type="text" placeholder="{{ request.user.email }}">
                    <p>Date de creation du profil :</p>
                    <p>{{ request.user.date_joined }}</p>
                    <button>Envoyer</button>
                    <button>Supprimer le profil</button>
                </div>
             </div>
        </div>
    </div>
{% endblock content %}