{% extends "base.html" %}
{% load static %}

{% block title %}
    LITReview - Subscription
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/subscription.css' %}">
{% endblock styles %}

{% block content %}
    <h5>Suivre d'autres utilisateurs</h5>
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form class="bar" method="post">
                        <input type="text" size="" placeholder="Nom d'utilisateur">
                        <button type="submit">Envoyer</button>
                    </form>
                </div>
             </div>
        </div>
    </div>
    <h5>Abonnements</h5>
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <p>{{ form.followed_user }}</p>
                </div>
             </div>
        </div>
    </div>
    <h5>Abonnés</h5>
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    
                </div>
             </div>
        </div>
    </div>
{% endblock content %}