{% extends "base.html" %}
{% load static %}

{% block title %}
    LITReview - Subscription
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/subscription.css' %}">
{% endblock styles %}

{% block content %}
    <h5>Follow other users</h5>
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form class="bar" method="post">
                        <form method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light gr">Follow</button>
                        </form>
                    </form>
                </div>
             </div>
        </div>
    </div>
    <h5>Subscriptions</h5>
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    {% for line in follow_model %}
                        {% if line.user == request.user %}
                            <p>{{ line.followed_user }}</p>
                            <form action="{% url 'subscription_unfollow' line.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn">Unfollow</button>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
             </div>
        </div>
    </div>
    <h5>Subscribers</h5>
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    {% for line in follow_model %}
                        {% if line.followed_user == request.user %}
                            <p>{{ line.user }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
             </div>
        </div>
    </div>
{% endblock content %}