.row.flux
{
    margin-top: 1%;
    margin: 15px;
}

.btn.header
{
    margin-right: 5%;
    text-align: center;
}

.btn.header:hover
{
    border-color: #000000;
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #aaaaaa;
    color: #ffffff;
}

.btnhead
{
    text-align: center;
}

.time
{
    float: right;
}

.title-review
{
    margin-top: 10%;
}