{% extends "base.html" %}
{% load static %}

{% block title %}
    LITReview - Review of a ticket
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}
    <h5>Create a review</h5>
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {{ ticket.user }}
                        {{ ticket.time_created }}
                        {{ ticket.title }}
                        {{ ticket.description }}
                        {% if ticket.image %}
                                <img src="{{ ticket.image.url }}" height="300" width="200">
                            {% endif %}
                        {{ review_with_ticket_form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Publish</button>
                    </form>
                </div>
             </div>
        </div>
    </div>
{% endblock content %}