{% extends 'base_connection.html' %}
{% load static %}

{% block title %}
    LITReview - Login
{% endblock title%}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container body">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                       <h5 class="card-title">Sign up now !</h5>
                       <button type="button" class="btn btn-light"><a href="{% url 'signup' %}">Sign up</a></button>
                    </div>
                 </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sign in</h5>
                        <p>{{ message }}</p>
                        <form method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light gr">Sign in</button>
                        </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock content %}