{% extends 'base_connection.html' %}

{% block title %}
    LITReview - Signup
{% endblock title %}

{% block content %}
    <div class="container body">
        <div class="row">
            <div class="col-6 center-block">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title ins">Inscrivez-vous</h5>
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                        <form method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light gr">S’inscrire</button>
                            <button type="button" class="btn btn-light gr"><a href="{% url 'login' %}">Retour</a></button>
                        </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock content %}