{% extends "base.html" %}
{% load static %}

{% block title %}
    LITReview - Publishement
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}
    <h5>Your publishements</h5>
    {% for post in self_posts %}
        {% if post.user == request.user %}
            {% if  post.body %}
            <div class="row flux">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ post.time_created }}</p>
                            <p>You published a review</p>
                            <p>{{ post.headline }}</p>
                            <p>{{ post.body }}</p>
                            <p>{{ post.rating }}</p>
                            <a href="{% url 'review_modify' post.id %}"><button type="button" class="btn">Modify</button></a>
                            <form action="{% url 'review_delete' post.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if post.title %}
                <div class="row flux">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body">
                                <p>{{ post.time_created }}</p>
                                <p>You requested a review</p>
                                <p>{{ post.title }}</p>
                                <p>{{ post.description }}</p>
                                {% if post.image %}
                                    <img height="300" width="200" src="{{ post.image.url }}">
                                {% endif %}
                                <a href="{% url 'ticket_modify' post.id %}"><button type="button" class="btn">Modify</button></a>
                                <form action="{% url 'ticket_delete' post.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock content %}