{% extends "base.html" %}
{% load static %}

{% block title %}
    LITReview - Posts
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}
    <h5>Vos posts</h5>
    {% for ticket in tickets %}
        <div class="row flux">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <p>{{ ticket.time_created }}</p>
                        <p>Vous avez publié une critique</p>
                        <p>{{ ticket.title }}</p>
                        <p>{{ ticket.description }}</p>
                        {% if ticket.image %}
                            <img src="{{ ticket.image.url }}">
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}