{% extends "base.html" %}
{% load static %}

{% block title %}
    LITReview - Flux
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/flux.css' %}">
{% endblock styles %}

{% block content %}

    <div class="btnhead">
        <a href="{% url 'ticket' %}"><button type="button" class="btn btn-light header">Demander un ticket</button></a>
        <a href="{% url 'review_without_ticket' %}"><button type="button" class="btn btn-light header">Créer une critique</button></a>
    </div>
    <div class="row flux">
        {% for unit in all %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ unit.user }} a demandé une critique</p>
                            <p>{{ unit.time_created }}</p>
                            <p>{{ unit.title }}</p>
                            <p>{{ unit.description }}</p>
                            {% if unit.image %}
                                <img src="{{ unit.image.url }}" height="300" width="200">
                            {% endif %}
                            <button type="button" class="btn btn-light">Créer une critique</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock content %}