{% extends "base.html" %}
{% load static %}

{% block title %}
    LITReview - Ticket
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ticket.css' %}">
{% endblock styles %}

{% block content %}
    <h5>Create a ticket</h5>
    <div class="row flux">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {{ ticket_form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Publish</button>
                    </form>
                </div>
             </div>
        </div>
    </div>
{% endblock content %}